<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href=""><span class="glyphicon glyphicon-user"></span> jace power</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="./kirim/index.ejs">kirim Sbd</a></li>
            <li><a href="">steem</a></li>
            <li><a href="">delegasi</a></li>
            <li><a href="">beli voting</a></li>
            <li><a href="">tukar rupiah</a></li>
            <li><a href="">buat akun steem</a></li>
            <li><a href="">beli ark</a></li>
            <li><a href="">beli voting pakai ark</a></li>
            <li class="divider"></li>
            <li><a href="">G</a></li>
            <li><a href="">v</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href=""></span> Heroku Dev Center</a>
      </li>
    </ul>
  </div>
</nav>
